@model ViewModels.Danhsachlinhkien.DanhsachlinhkienCreateRequest

@{
    ViewData["Active"] = "pageThemlinhkien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-info">
        <div class="card-body">
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Model</label>
                <div class="col-sm-10">
                    <select class="form-control" style="text-align:center" name="Model" asp-items="@ViewBag.Models "></select>
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Tên Jig</label>
                <div class="col-sm-10">
                    <input id="Tenjig" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Mã Jig</label>
                <div class="col-sm-10">
                    <input id="Majig" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Tên linh kiện</label>
                <div class="col-sm-10">
                <input id="Tenlinhkien" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Mã linh kiện</label>
                <div class="col-sm-10">
                <input id="Malinhkien" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Maker</label>
                <div class="col-sm-10">
                <input id="Maker" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Đơn vị</label>
                <div class="col-sm-10">
                <input id="Donvi" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Đơn giá</label>
                <div class="col-sm-10">
                <input type="number" id="Dongia" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Tồn kho</label>
                <div class="col-sm-10">
                <input type="number" id="Tonkho" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Ghi chú</label>
                <div class="col-sm-10">
                <input id="Ghichu" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label style="font-weight: 500;" class="col-sm-2 col-form-label">Chọn hình ảnh</label>
                <div class="col-sm-10">
                    <input id="imageFile" name="imageFile" type="file" accept="image/*" class=" imageFile btn  btn-default btn-block" />
                </div>
            </div>
            <img src="" id="preview" hidden>
            <input id="image" type="text" name="Image" class="form-control" hidden />
            <img style="width: 100%" src="" id="output">
        </div>
        <div class="card-footer">
        <button id="btnXacNhanCreateLinhkien" class="btn btn-success  float-right">
                <i class="fa fa-check fa-fw"> </i> Xác nhận
            </button>
        <button id="btnHuyboCreateLinhkien" class="btn btn-outline-danger ">
                <i class="fa fa-times fa-fw"> </i> Huỷ bỏ
            </button>
        </div>
</div>

<script>
    $(document).ready(function () {
        $('#imageFile').change(function (evt) {
            var files = evt.target.files;
            var file = files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('preview').src = e.target.result;
                };
                reader.readAsDataURL(file);
                delay(2000).then(() => ResizeImage());
            }
        });
    });
    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }
    function ResizeImage() {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var filesToUploads = document.getElementById('imageFile').files;
            var file = filesToUploads[0];
            if (file) {
                var reader = new FileReader();
                // Set the image once loaded into file reader
                reader.onload = function (e) {
                    var img = document.createElement("img");
                    img.src = e.target.result;
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0);
                    var MAX_WIDTH = 500;
                    var MAX_HEIGHT = 500;
                    var width = img.width;
                    var height = img.height;
                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height *= MAX_WIDTH / width;
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width *= MAX_HEIGHT / height;
                            height = MAX_HEIGHT;
                        }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0, width, height);
                    dataurl = canvas.toDataURL(file.type);
                    document.getElementById('output').src = dataurl;
                    console.log(dataurl);
                    document.getElementById('image').value = dataurl;
                }
                reader.readAsDataURL(file);
            }
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }
    }
</script>
<script src="~/scripts/danhsachlinhkien/create.js"></script>
