@using ViewModels.System.User
@model LoginRequest

@{
    Layout = null;
}  

@if (TempData["info"] != null)
{
    <p style="color:red">Bạn cần đăng nhập trước khi sử dụng chức năng này!</p>
}

<h3>Login</h3>
<form asp-action="index" asp-controller="login" method="post">
    <div class="col-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Username:</label>
            <input type="text" class="form-control" placeholder="Enter username" asp-for="UserName">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" asp-for="Password">
        </div>
        <br />
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</form>