@using ViewModels.Count
@model CountVm

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <span class="info-box-text">Yêu cầu đặt hàng: </span>
                <span class="info-box-number">
                    <b>@(Model?.dulieu1 ?? 0)</b>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <span class="info-box-text">Đang chờ hàng về: </span>
                <span class="info-box-number">
                    <b>@(Model?.dulieu2 ?? 0)</b>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-purple">
            <div class="inner">
                <span class="info-box-text">Hàng về thiếu: </span>
                <span class="info-box-number">
                    <b>@(Model?.dulieu3 ?? 0)</b>
                </span>
            </div>
        </div>
    </div>
</div>
