@using ViewModels.Common;
@model PagedResult<ViewModels.System.User.UserVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tblSparepartslist").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            })
        })
    </script>
}

    <div class="row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-lg btn-outline-success btn-block">
                <i class="fa fa-user-plus fa-fw"></i>
                Tạo tài khoản 
            </button>
        </div>
        <div class="col-md-9">
            <form asp-action="index" method="get">
                <div class="input-group">
                    @{
                    string kw = !string.IsNullOrEmpty(ViewBag.Keyword) ? ViewBag.Keyword : "Nhập tên người dùng, tên tài khoản để tìm kiếm nhanh...";
                }
                <input name="keyword" type="text" class="form-control form-control-lg" placeholder="@kw">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-12" style="margin-top:10px">
        <div class="card card-default">
            <div class="card-body">
                <table id="tblUser" class="table table-reponsive table-hover " style="text-align:center;vertical-align:middle">
                    <thead style="font-size:small;">
                        <tr>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Tên đăng nhập
                            </th>
                            <th>
                                Mật khẩu
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Hoten)
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td class="col-3" style="font-size:small; vertical-align:middle;text-align:center">
                                    <div class="btn-group btn-block ">
                                        <a class="btn btn-app bg-secondary " style="white-space: nowrap">
                                            <i class="fa fa-edit"></i> Sửa thông tin
                                        </a>
                                        <a class="btn btn-app bg-secondary " style="white-space: nowrap">
                                            <i class="fas fa-trash"></i> Xoá tài khoản
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>

</div>


